@-webkit-keyframes progress {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    margin-top: 50px;
  }
  50% {
    display: block;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
    margin-top: 50px;
  }
}