* {
    box-sizing: border-box;
}

html, body {
	@include nopads();
	font-family: "Roboto", Helvetica;
	font-size: 12;
	color: $primary;
	background: $clr-bg;
}

.hidden {
	display: none!important;
}

.page-wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;;
}

.screen-overlay {
	display: none;
	@include sq(100%);
	position: fixed;
	top: 0px;
	left: 0px;
	background: $clr-bg;
	color: $primary;
    z-index: 14;
	&.active {
		display: block;
	}
	h1 {
	    text-align: center;
    	font-weight: 100;
	}
}

.loader-container {
	@include sq(200px);
	display: block;
	margin: 0 auto;
	position: relative;
	margin-top: calc(25% - 100px);
	svg {
		@include sq(100%);
		#logo-stroke {
			stroke-dasharray: 1500;
			stroke-dashoffset: 1500;
			animation: dash2 2s linear infinite;
		}
	}
}

footer {
	width: 100%;
	position: relative;
	padding: 30px 0px;
	.btn-wrapper {
		width: 100%;
		.btn-talk {
			width: 150px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background: $primary;
			border: 1px solid $primary;
			color: $black;
			cursor: pointer;
			@include transit();
			display: block;
			margin: 0 auto;
			text-transform: uppercase;
			&:hover {
				background: $primary-darker;
			}
		}
	}
	.footer-inner {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		color: $primary-darker;
		line-height: 15px;
		height: 15px;
		display: block;
		margin-top: 20px;
	}
}