//home

#home {
	margin-bottom: 100px;
	.brand-intro {
		h2 > .plus {
			font-weight: bold;
		}
	}

	.brand {
		width: 100%;
		vertical-align: middle;
		.brand-canvas {
			
		}
		.brand-images {
			position: absolute;
			left: 42%;
		    left: -webkit-calc(50% - 250px);
		    left: -moz-calc(50% - 250px);
			left: calc(50% - 250px);
			top: 42%;
		    top: -webkit-calc(50% - 250px);
		    top: -moz-calc(50% - 250px);
		    top: calc(50% - 250px);
			.home-img {
				width: 90%;
				height: 100%;
				-o-clip-path: url(#brandPath);
				-webkit-clip-path: url(#brandPath);
				-moz-clip-path: url(#brandPath);
				display: none;
				&.active {
					display: block;
				}
			}
		}
		.brand-img {
		    @include sq(300px);
		    display: block;
		    margin: 0px auto;
		    background: url(/assets/jjr-mask.gif) center no-repeat;
		    background-size: 100%;
		    margin-top: 100px;
		    margin-bottom: 50px;
		}
	}
	.brand-intro {
	    width: 300px;
	    display: block;
	    margin: 0 auto;
	}

	#brandAnim {
		#XMLID_17_ {
			stroke-dasharray: 100;
			animation: dash 5s linear;
		}
	}
}