<div class="talk-wrapper">
	<div class="talk-left">
		<div class="talk-inner">
			<h1>Hi again!</h1>
			<h4>
				I'm Manila-based Developer and Designer. I’ve been on this field for almost 10 years, graduated BSIT. My expertise are everything Front-end Dev, UI/UX and Illustrations. Had an opportunity to work on projects based in the US, UK, Singapore, Thailand and Manila. And yes, I belong to the small group of humans that can do both visuals and engineering. I recently worked on "headhuntr.io", a recruitment and candidate management platform integrated with data algorithms, scheduled calls and comprehensive profile information; and I also developed a game called "Alias", a real-time board game interconnected with multiple active devices using modern dev stack, react and firebase. I'm Looking for a FRESH NEW collaborations, shoot me a message!
			</h4>
		</div>
		<div class="collage-wrap"></div>
	</div>
	<div class="talk-right">
		<div class="collage-wrap"></div>
		<div class="talk-inner">
			<h1>Let's talk!</h1>
			<div class="contact-wrapper">
				<div class="contact-item" data-item="email">
					<i class="mdi mdi-email" title="Email"></i>
					<a href="mailto:jessiejamesrafael@gmail.com?subject=Inquiry%from%Portfolio" target="_blank">jessiejamesrafael@gmail</a>
				</div>
				<div class="contact-item" data-item="instagram">
					<i class="mdi mdi-instagram" title="Instagram"></i>
					<a href="http://instagram.com/jjrafael.works" target="_blank">@jjrafael.works</a>
				</div>
				<div class="contact-item" data-item="instagram">
					<i class="mdi mdi-instagram" title="Instagram"></i>
					<a href="http://instagram.com/jessiejrafael" target="_blank">@jessiejrafael</a>
				</div>
				<div class="contact-item" data-item="instagram">
					<i class="mdi mdi-github-circle" title="Github"></i>
					<a href="http://jjrafael.github.com" target="_blank">Github</a>
				</div>
				<div class="contact-item" data-item="linkedin">
					<i class="mdi mdi-linkedin-box" title="LinkedIn"></i>
					<a href="http://linkedin.com/jessiejamesrafael" target="_blank">LinkedIn</a>
				</div>
				<div class="contact-item" data-item="cv">
					<i class="mdi mdi-file-pdf" target="_blank" title="CV"></i>
					<a href="assets/jjr-cv-2024.pdf" target="_blank">Get my latest CV</a>
				</div>
			</div>
		</div>
	</div>
</div>