<div class="talk-wrapper">
	<div class="talk-left">
		<div class="talk-inner">
			<h1>Hi again!</h1>
			<h4>
				I'm Manila-based Developer and Designer. I’ve been on this field for almost 6 years, graduated BSIT. My expertise are everything Front-end Dev, UI/UX and Illustrations. Had an opportunity to fly to Singapore and Thailand, where I did work on some projects and understands users across SE Asia. And yes, I belong to the small group of humans that can do both visuals and codes. I recently worked on "MyAssets", a comprehensive app for financial and assets management target for high-profile individuals; and also freshly-deployed my solo-made App called "Alias", a real-time board game interconnected with multiple active devices using modern dev stack and firebase, PLUS you can check it out now its free! I'm Looking for new collaborations, shoot me a message!
			</h4>
		</div>
		<div class="collage-wrap"></div>
	</div>
	<div class="talk-right">
		<div class="collage-wrap"></div>
		<div class="talk-inner">
			<h1>Let's talk!</h1>
			<div class="contact-wrapper">
				<div class="contact-item" data-item="email">
					<i class="mdi mdi-email" title="Email"></i>
					<a href="mailto:jessiejamesrafael@gmail.com?subject=Inquiry%from%Portfolio" target="_blank">jessiejamesrafael@gmail</a>
				</div>
				<div class="contact-item" data-item="instagram">
					<i class="mdi mdi-instagram" title="Instagram"></i>
					<a href="http://instagram.com/jessiejrafael" target="_blank">@jessiejrafael</a>
				</div>
				<div class="contact-item" data-item="instagram">
					<i class="mdi mdi-instagram" title="Instagram"></i>
					<a href="http://instagram.com/jjrafael.works" target="_blank">@jjrafael.works</a>
				</div>
				<div class="contact-item" data-item="instagram">
					<i class="mdi mdi-github-circle" title="Github"></i>
					<a href="http://jjrafael.github.com" target="_blank">Github</a>
				</div>
				<div class="contact-item" data-item="deviantart">
					<i class="mdi mdi-deviantart" title="DeviantArt"></i>
					<a href="http://jjrafael.deviantart.com" target="_blank">DeviantArt</a>
				</div>
				<div class="contact-item" data-item="linkedin">
					<i class="mdi mdi-linkedin-box" title="LinkedIn"></i>
					<a href="http://linkedin.com/jessiejamesrafael" target="_blank">LinkedIn</a>
				</div>
				<div class="contact-item" data-item="cv">
					<i class="mdi mdi-file-pdf" target="_blank" title="CV"></i>
					<a href="assets/jjr-cv-2023.pdf" target="_blank">Get my latest CV</a>
				</div>
			</div>
		</div>
	</div>
</div>